# Build artifacts
dist/
build/
# *.spec  # Uncommenting to allow .spec files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.exe
venv/ 
# Test artifacts
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Project specific files
app_config.json
MTN6_SCADA_*
MTN6_SCADAa_*

# Image files (as needed)
# *.ico  # Uncommenting to allow icon files
*.jpg
*.spec
*.png
*.gif
*.bmp
*.tiff
*.jpeg

# Exception for app logo
!automation_standard_logo.jpg
!autStand_ic0n.ico

# macOS specific
.DS_Store