# Build artifacts
dist/
build/
*.spec
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.exe

# Test artifacts
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Project specific files
app_config.json
MTN6_SCADA_*
MTN6_SCADAa_*

# Image files (as needed)
*.ico
*.jpg
*.png
*.gif
*.bmp
*.tiff
*.jpeg

# macOS specific
.DS_Store